footer {
    min-height: 100px;
    background: url(images/temno-biryuzovyy-goluboy-fon.jpg) 50% 50% no-repeat;
    background-size: cover; 
    padding-top: 40px;
    padding-bottom: 40px;
    color: #fff;
    a {
        color: #fff;
    }
}