.todo{
    &-item {
        padding: 15px 25px;
        margin-bottom: 20px;
        border-radius: 2rem;
        box-shadow: 0px 0px 40px 0px rgb(176, 232, 236);
        transition: 1s;
        a{
            text-decoration: none;
        }
        &.marked {
            box-shadow: 0px 0px 40px 0px #ffadad;

            .todo-item__mark { 
                transition: 1s;   
                a {
                    color: #e2667b;
                    &:hover { 
                        color: #3950ab;
                    }
                } 
              
            }
        }
        &.deleted {
            box-shadow: 0px 0px 40px 0px #d2d2d2;
            
            .todo-item__todo {     
                transition: 1s;        
                text-decoration: line-through;
                color: #ddd;
            }
            .todo-item__mark { 
                transition: 1s;   
                a {
                    color: #ddd;
                    &:hover { 
                        color: #aaa;
                    }   
                } 
              
            }
            .todo-item__return {  
                display: inline-block;   
                transition: 1s;        
                color: #ddd;
                &:hover { 
                    color: #aaa;
                }
            }
            .todo-item__delete { 
                transition: 1s;
                a{
                    color: #ddd;
                    &:hover { 
                        color: #aaa;
                    }
    
                }            
                
            }
            
        }
        &__return {
            display: none;
            padding-right: 5px; 
            font-weight: bold;           
                &:hover { 
                    color: #e2667b
                }
        }
        &__mark {
            padding-right: 15px;
            a {
                transform: scale(2,2);
                display: inline-block;
                vertical-align: middle;
                &:hover { 
                    color: #e266d7
                }

            }
        }
        &__delete {
            padding-left: 15px;
            a {
                &:hover { 
                    color: #3950ab;
                }
            }
        }
    }
    
}

.todo-writer{
    display: flex;

    &__input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right-color: transparent;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 1 100%;
        max-width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    &__btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: -2px;
        outline: none;
        border-color: #2f2382;
        background: #2f2382;
        color: #fff;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 10%;
        flex: 0 1 10%;
        padding-top: 5px;
        padding-bottom: 5px;

        &:hover { 
            background: #3950ab;
            border-color: #3950ab;
        }
    }
}